{% extends 'vehicle/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white text-center my-5"> About US </h3>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" >
                <img src="../../static/blog/img/logo.jpg" alt="picture not found" width="250px" height="250px">
            </div>
        </div>
    </div>

<p class="text-justify">Pathari Car Wash and Repairing Center is located at Pathari-1, Morang. 
It is related to vehicles and helps in maintaining and  washing vehicles as needed by customers. 
For its customers, it offers repair and washing services. It has worked in this sector for 3+ years.</p>

</div>

{% endblock content %}