{% extends 'vehicle/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12">
    <h2 class="text-white text-center my-5">About Us</h2>
    <div>
        <div class="text-center">
            <img src="../../static/blog/img/logo.jpg" alt="picture not found" width="350px" height="350px">
        </div>
    </div>
<p class="col-sm-12 text-justify">Pathari Car Wash and Repairing Center is located at Pathari-1, Morang. It is related to vehicles and helps in maintaining and  washing vehicles as needed by customers. For its customers, it offers repair and washing services. It has worked in this sector for 3+ years.</p>
</div>
{% endblock content %}