{% extends 'vehicle/base.html' %}
{% load static %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                      <h2 class="text-danger text-center my-5">About Us</h2>
<p class="text-danger">
Welcome to Pathari Car Wash and Repairing Center! We are a reputable car care facility located in the heart of Pathari, known for providing top-notch car washing and repairing services to our valued customers. With years of experience in the industry, our team of skilled technicians is committed to delivering exceptional service and maintaining the highest standards of quality.
</p>
<p class="text-danger">
At Pathari Car Wash and Repairing Center, we offer a wide range of services to meet the needs of all types of vehicles, from cars to trucks and SUVs. Our car wash services include exterior washing, thorough cleaning of the interior, and professional detailing to leave your vehicle looking sparkling clean and refreshed. Our experienced technicians are equipped with state-of-the-art equipment and eco-friendly cleaning products to ensure a safe and effective wash for your vehicle.

</p>


                
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-center">
                    <img src="../../static/blog/img/logo.jpg" alt="picture not found" width="350px" height="350px">
                    <h1 class="text-light">Pathari Car Wash and Repairing Center</h1>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}