{% extends 'vehicle/base.html' %}
{% load static %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-danger">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                    <h3 class=" text-center my-5"> Dashboard Page </h3>
  
             <h4 class="my-5">Profile</h4>
        <h5>{{fname}}</h5>
        {% for group in groups %}
        <p>{{group.name}}</p>
        {% endfor %}
              </div>
            </div>
        <div class="col-lg-6 d-flex align-items-center gradient-custom-2 text-danger">

    {% if posts %}
    <table class="table table-hover bg-white">
        <thead>
            <tr >
                <th scope="col" style="width: 28%;">Service Type</th>
                <th scope="col" style="width: 55%;">Problem In Vechile</th>
                <th scope="col" style="width: 55%;">Service Date</th>
                <th scope="col" style="width: 55%;">Service Time</th>
                <th scope="col" style="width: 55%;">Booking Status</th>
                <th scope="col" style="width: 15%;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.serviceType}}</td>
                <td>{{post.problemInVechile}}</td>
                <td>{{post.serviceDate}}</td>
                <td>{{post.serviceTime}}</td>
                <td>{{post.bookingStatus}}</td>
                <td class="text-center">
                    <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% if perms.blog.delete_post %}
                    <form action="{% url 'deletepost' post.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">No Records</h4>
    {% endif %}

              </div>
              <div class="col-sm-12">
                <div class="col-sm-6 float-end">
                    <a href="{% url 'addpost' %}" class="btn btn-success">Add Booking</a>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}