{% extends 'vehicle/base.html' %}
{% load static %}

{% block content %}



<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
             <h3 class="text-danger text-center my-5">Pathari Car Wash and Repairing Centre</h3>
                    <p class="text-justify text-danger">The Pathari Car Wash and Repairing Center assists with repair and maintenance and washing. It had been employed in this field for at least three years. It operates in an atmosphere of determination and innovation. With our locations, Pathari Car Wash and Repairing Centre wants to make cleaning and maintaining your vehicle easy and economical.</p>
              </div>
            </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-center">
                    <img src="../../static/blog/img/logo.jpg" alt="picture not found" width="350px" height="350px">
                    <h1 class="text-light">Pathari Car Wash and Repairing Center</h1>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}