{% extends 'vehicle/base.html' %}
{% load static %}
{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-danger">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center text-danger">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Pathari Car Wash and Repairing Center</h4>
                  </div>
        <h3 class="text-center text-danger">Update post</h3> 
      <form action="" method="post" novalidate>
          {% csrf_token %}
          {% for fm in form %}
              <div class="form-group">
              {{fm.label_tag}} {{fm}}
              <small class="text-danger">{{fm.errors|striptags}}</small>
              </div>
          {% endfor %}
          <input type="submit" value="Update" class="btn btn-success">
          <a href="{% url 'dashboard' %}" class="btn btn-danger"> Cancel </a>
          {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>
              {% endfor %}
                {% endif %}
                </form> 
                </div>
            </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-center">
                  <h1 class="text-light">Pathari Car Wash and Repairing Center</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}